.ReviewItem {
  width: 100%;
}

.author {
  text-decoration: underline;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

li {
  margin-right: 10px;
}
